  <div class='jumbotron'>

  <h1 class="detail"><span class="fn">Basketball Rules</span></h1>
  <div>
  <div class="itemMainImage" style="width: 300px;"><img src="http://www.rulesofsport.com/images/jreviews/tn/tn_14_basketball-1345196878.jpg" alt="Basketball" id="thumb14" class="photo" style="width: 300px; height: 225px;" title="Basketball" border="0">
  <div class="photocredit">Photo credit: Keith Allison</div>
  </div>
  <p>Basketball dates back as far as 1891 and since then has evolved into a sport played around the world. Many countries have adopted the game such as Russia, Great Britain, Germany, Spain and parts of Asia, but it is America where the biggest and most lucrative league in the world lives: the NBA (National Basketball Association).</p>
  <h2>Object of the Game</h2>
  <p>The object of basketball is to throw the ball (basketball) into a hoop to score points. The game is played out on a rectangular court and depending on which section of court you successfully throw a ball into the basket will depend on how many points are scored. The ball can be moved around the by dribbling or passing the ball. At the end of the game the team with the most points is declared the winner.</p>

  </div>
  <h2>Players &amp; Equipment</h2>
  <p>Each team is made up of 12 players with only 5 allowed on the court at any time. The positions are broken up into Point Guard, Defensive Guard, Center, Offensive forward and Defensive Forward. Each player will then take up a position on the court but are allowed to move around as they please.</p>
  <p>The court is a rectangular shaped and measures 91 feet long and 50 feet wide. There is a halfway line in which a small circle is found in the centre; this is where the game starts with a tip off (the ball is thrown in the air by the referee and a player from each team tries to win possession for their team). At each end of the court are two baskets both 10 feet in height. A three point arc is the outside ring, whilst in the middle of that is the key which includes a free throw line.</p>
  <p>All that is needed to play is a court and basketball. Teams must wear matching strips with some players choosing to wear gum shields and face masks for protection.</p>
  <p>The game is split up into 4 twelve minute quarters. In between the 2 nd and 3rd quarter is a 15 minute half time interval.</p>
  <h2>Scoring</h2>
  <p>There are three scoring numbers for basketball players. Any basket scored from outside the three point arc will result in three points being scored. Baskets scored within the three point arc will result in two points being scored. Successful free throws will result in 1 point being scored per free throw. The number of free throws will depend on where the foul was committed.</p>

  <h2>Winning the Game</h2>
  <p>Winning a game of basketball is pretty simple; score more points than your opponents in the allotted game time. If the scores are tied at the end then an extra quarter will be played until a winner is found.</p>
  <h2>Rules of Basketball</h2>
  <ul>
  <li>Each team can have a maximum of 5 players on the court at any one time. Substitutions can be made as many times as they wish within the game.</li>
  <li>The ball can only be moved by either dribbling (bouncing the ball) or passing the ball. Once a player puts two hands on the ball (not including catching the ball) they cannot then dribble or move with the ball and the ball must be passed or shot.</li>
  <li>After the ball goes into a team’s half and they win possession back the ball must then make it back over the half way line within 10 seconds. If the ball fails to do so then a foul will be called and the ball will be turned over.</li>
  <li>Each team has 24 seconds to at least shot at the basket. A shot constitutes either going in the basket or hitting the rim of the basket. If after the shot is taken and the ball fails to go in the basket then the shot clock is restarted for another 24 seconds.</li>
  <li>The team trying to score a basket is called the offence whilst the team trying to prevent them from scoring is called the defence. The defence must do all they can to stop the offence from scoring by either blocking a shot or preventing a shot from being fired.</li>
  <li>After each successful basket the ball is then turned over to the opposition.</li>
  <li>Fouls committed throughout the game will be accumulated and then when reached a certain number will be eventually be awarded as a free throw. A free throw involves one playerfrom the offensive team (the player fouled) to take a shot unopposed from the free throw line. Depending on where the foul was committed will depend on the number free throws a player gets.</li>
  <li>Violations in basketball include travelling (taking more than one step without bouncing the ball), double dribble (picking the ball up dribbling, stopping then dribbling again with two hands), goaltending (a defensive player interferes with the ball travelling downwards towards the basket) and back court violation (once the ball passes the half way line the offensive team cannot take the ball back over the half way line).</li>
  </ul>
</div>