<div ng-if="cat">
  <div class="container" *ngIf="cat=='football'">
    <football-rules></football-rules>
  <div>

  <div class="container" *ngIf="cat=='basketball'">
    <basketball-rules></basketball-rules>
  <div>

  <div class="container" *ngIf="cat=='box'">
    <box-rules></box-rules>
  <div>

  <div class="container" *ngIf="cat=='chess'">
    <chess-rules></chess-rules>
  <div>

  <div class="container" *ngIf="cat=='formula1'">
    <formula1-rules></formula1-rules>
  <div>

  <div class="container" *ngIf="cat=='rhythmic_gymnastics'">
    <rhythmic_gymnastics-rules></rhythmic_gymnastics-rules>
  <div>

  <div class="container" *ngIf="cat=='volleyball'">
    <volleyball-rules></volleyball-rules>
  <div>

  <div class="container" *ngIf="'tennis'=='tennis'">
    <tennis-rules></tennis-rules>
  <div>

  <div class="container" *ngIf="cat=='poker'">
    <poker-rules></poker-rules>
  <div>
</div>
