<div class='row'>
  <div class='col-sm-7'>
  </div>

  <div class='col-sm-5'>
    <form class="form-signin thumbnail" role="form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <h2 class="form-signin-heading">Reset Password</h2>

      <div class="form-group" [ngClass]="{ 'has-error': f.submitted }">
          <input class="form-control" placeholder="New password" md-input name="password" [(ngModel)]="user.password" #password="ngModel" required type="password">
      </div>
      <button class="btn btn-block bt-lg btn-outline-success" type="submit">Reset password</button>
      <br/>
      <br/>
      <a class="" [routerLink]="['/session/login']">Back to Login</a>
    </form>

  </div>
</div>