<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">New League</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-signin thumbnail" role="form" name="form" (ngSubmit)="f.form.valid && onSubmitNew()" #f="ngForm" novalidate>
      <div class="form-group">
        <label>Name of League</label>
        <input class="form-control" placeholder="First team" md-input name="nameOfLeague" [(ngModel)]="league.nameOfLeague" #username="ngModel" required type="text">
      </div>

      <div class="form-group">
        <label>Sport Category ID</label>
        <input class="form-control" placeholder="Second team" md-input name="sportCategoryId" [(ngModel)]="league.sportCategoryId" #username="ngModel" required type="text">
      </div>

      <button class="btn btn-block bt-lg btn-outline-success" type="submit">Save</button>
    </form>
  </div>
</ng-template>

<div class="jumbotron">
  <a role='button' class="btn btn-outline-success pull-right" (click)='newLeague()'>New league</a>
  <h2>Leagues</h2>
  <br>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Teams</th>
        <th>Sport Category ID</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let league of leagues">
      <tr>
        <td>{{league.id}}</td>
        <td>{{league.nameOfLeague}}</td>
        <td>
          <span *ngFor="let team of league.teams">
            {{team.nameOfTeam}},
          </span>
        </td>
        <td>{{league.sportCategoryId}}</td>
        <td nowrap>
          <button class='btn btn-sm btn-primary mr-5' (click)="editEntity()">Edit</button>
          <button class='btn btn-sm btn-outline-danger' (click)="deleteEntity()">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


