<div class='row'>
  <div class="col-12 col-md-5 col-xl-3 bd-sidebar sidebar">
    <ul class="list-group">
      <li class="list-group-item">
        <h5>Learn more about...</h5>
      </li>
      <li class="list-group-item">
        <a class="" [routerLink]="['/rules', 'volleyball']">volleyball</a>
      </li>
      <li class="list-group-item">
        <a class="" [routerLink]="['/rules', 'football']">football</a>
      </li>
      <li class="list-group-item">
        <a class="" [routerLink]="['/rules', 'formula1']">Formula 1 </a>
      </li>
      <li class="list-group-item">
        <a class="" [routerLink]="['/rules', 'chess']">chess</a>
      </li>
      <li class="list-group-item">
        <a class="" [routerLink]="['/rules', 'box']">box</a>
      </li>
      <li class="list-group-item">
        <a class="" [routerLink]="['/rules', 'tennis']">tennis</a>
      </li>
      <li class="list-group-item">
        <a class="" [routerLink]="['/rules', 'basketball']">basketball</a>
      </li>
      <li class="list-group-item">
        <a class="" [routerLink]="['/rules', 'poker']">poker</a>
      </li>
      <li class="list-group-item">
        <a class="" [routerLink]="['/rules', 'rhythmic_gymnastics']">Rhythmic gymnastics</a>
      </li>
      <li class="list-group-item">
        <a class="" [routerLink]="['/rules', 'baseball']">baseball</a>
      </li>
    </ul>
  </div>
  <div class="col-12 col-md-7 col-xl-9">
    <div class="container">
    <calendar>Loading...</calendar>
    </div>
  </div>
</div>

